# Core web framework
Flask==3.0.3

# Database
tinydb==4.8.0

# Scheduling
APScheduler==3.10.4

# SSH & Automation
pexpect==4.9.0

# Data processing
pandas==2.2.2

# HTTP requests
requests==2.32.3

# MQTT client (for MQTT bridge)
paho-mqtt==1.6.1

# For secure key handling / cryptography if used
cryptography==43.0.1
